.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
mysql-data
client/cert/
server/cert/
logs/
package-lock.json
server/tests/fixtures/*vectors.json