RewriteEngine On
RewriteRule ^app - [F]
RewriteRule ^bootstrap - [F]
RewriteRule ^config - [F]
RewriteRule ^database - [F]
RewriteRule ^resources - [F]
RewriteRule ^storage - [F]
RewriteRule ^tests - [F]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !^public /index.php [L,NC]

<FilesMatch "^\.|server\.php|artisan|\.(md|json|lock|yml|xml|sh)">
    Order allow,deny
    Deny from all
</FilesMatch>
