
/* GENERAL */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.sidebar-nav {
	padding: 9px 0;
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	padding-top: 0px;
	.navbar-text.pull-right {
		 float: none;
		 padding-left: 5px;
		 padding-right: 5px;
	}
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
    .container .column-left{display:block;}
    .container .column-center{display:block; width:25%;}
    .container .column-right{display:block;}
	div.mobile-top {display:none;}
	div#section {top: 41px;}
	div#main div.article {margin-left: 5px;}
	div.full-content {display:none;}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .container .column-left{display:block;}
    .container .column-center{display:block; width:100%;}
	.container .column-right{display:none;}
	div.mobile-top {display:none;}
	div#section {top: 41px;}
	div#main div.article {margin-left: 5px;}
	div.less-content {display:none;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .container .column-left{display:block;}
    .container .column-center{display:block; width:100%;}
	.container .column-right{display:none;}
	div.mobile-top {display:none;}
	div#section {top: 41px;}
	div#main div.article {margin-left: 5px;}
	div.less-content {display:none;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .container .column-left{display:none;}
    .container .column-center{display:block; width:100%;}
    .container .column-right{display:none;}
	div.search-form-wrap {display:none;}
	div#section {top: 50px;}
	div.less-content {display:none;}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .container .column-left{display:none;}
    .container .column-center{display:block; width:100%;}
    .container .column-right{display:none;}
	div.search-form-wrap {display:none;}
	div#section {top: 50px;}
	div.less-content {display:none;}
}

div.minimal {
	display:none;
}

div.entry-inner div.item-star {
	display:none;	
}

div.entry-inner div.item-star.unstar {
	display:none;	
}

div.entry-inner h4.heading {
	font-size: 28px !important;
}

div.entry-inner div.feedname {
	font-size: 16px !important;
}

div.entry-inner div.full-content {
	font-size: 14px !important;
	margin-top: 5px;
}

div.panel span.badge {
    color: #7a7c7e;
    background-color: transparent !important;
}


/* ARTICLES OVERVIEW SCREEN */

section.detailed .less-content, section.detailed div.minimal {
	display:none;
}

section.list .full-content, section.list div.minimal {
	display:none;
}

section.minimal .full-content, section.minimal div.content div.article hr, section.minimal h4.heading, section.minimal div.feedname	{
	display:none;
}

section.minimal {
	margin-top: -8px;
}

section.minimal div.content div.feedname {
	margin-bottom: 18px;
	font-size: 13px ! important;
}

section.minimal div#block {
	border: none;
	box-shadow: none;
	margin-top: 15px ! important;
}

section.minimal span.feedname {
	color: #555;
}

section.minimal span.heading a {
	color: #222;
	font-weight: bold;
}

section.minimal span.publishdate {
	color: #333;
	float: right;
}

section.minimal span.content {
	color: #333;
}

section.minimal div.item-star {
	float: right;
}

section.minimal div.info-bar {
	margin-top: 15px ! important;
}

section.minimal div.full-content {
	margin-top: 0px;
}

section.minimal div.article hr {
	display: none;
}

section.minimal span.heading, .minimal span.less-content {
	display: block;
}

section.minimal span.datedifference {
	float: right;
	margin-right: 5px;
}

section.minimal span.less-content hr, .minimal span.less-content img {
	display: none;
}

section.minimal span.less-content p {
	white-space: nowrap;
	overflow: hidden;
	width: 98%;
}

div#block {
	margin-bottom: 0px;
	padding-top: 5px;
}

span.readbar {
	margin-right: 5px;
}

.article {
	padding-left: 5px;
	padding-right: 5px;
	border-color:#B4B7BD;
	border-width:1px;
}

div#block.normal .article {
	border-bottom: 1px solid #B4B7BD;
}

.article h4 {
	cursor: pointer;
	margin-top: 5px;
}

.article h4 a {
	font-weight:600;
}

div.full-content, div.less-content {
	margin-bottom: 10px;
	margin-right: 20px;
}

div#block.normal .article h4 a {
	color: #333333;
}

div#block.normal div.feedname {
	color: #696969;
}

div#block.normal div.full-content, div#block.normal div.less-content {
	color: #333344;
}

div#block.grey .article h4 a, div#block.grey div.feedname, div#block.grey div.full-content, div#block.grey div.less-content {
	color: #b4b6b8;
}

div#block.grey .article {
	border-bottom: 1px solid #b4b6b8;
}

.article h5 a {
	color: #333333;	
	font-weight:400;
}

div.article hr {
	margin-top: 3px;
	margin-left: 5px;
	width: 98%;
}

div.feedname {
	margin-top: -11px ! important;
	font-size:12px;
	padding-top: 4px;
	padding-left: 0px;
	font-weight: bold;
}

div.article-block hr {
	margin-top: 3px;
	margin-left: 5px;
	width: 180px;
}

div.mobile-top {
    height: 50px;
    background-color: #eff1f3;
    border-color: #dcdee0;
}

div.article hr {
	border-top: 1px solid #D3D3D3;
}

div#block.active {
	background-color: #ffffe5;
}

section.detailed div.full-content, section.list div.full-content, section.list div.less-content {
	margin-top: 1px;
	margin-left: 0px;
}

div.item-star.star, div.item-star.unstar {
	height: 29px;
	background-repeat: no-repeat;
	float: left;
	width: 32px;
	margin-top: -10px;
	background-position: 6px 4px;
	margin-left: -6px;
	cursor: pointer;
	background-position: center top 5px;
}

div.item-star.unstar {
	background-size: 18px 18px;
	background-position: 8px 10px;
}

div.item-star.star {
	background-size: 18px 18px;
	background-position: 8px 10px;
}

div#block.normal div.item-star.unstar {
	background-image: url('../img/heart_unselected.png');
}

div#block.normal div.item-star.star {
	background-image: url('../img/heart_selected.png');
}

div#block.grey div.item-star.unstar {
	background-image: url('../img/heart_unselected_light.png');
}

div#block.grey div.item-star.star {
	background-image: url('../img/heart_selected_light.png');
}

div.all-read {
	margin-top: 50px;
}

div.mark-item-read, div.mark-item-unread {
	float: left;
	margin-left: 10px;
	margin-top: 4px;
}

div#info-bar {
	text-align: center;
	margin-top: 5px;
	font-weight: bold;
}

div.full-content img {
	max-width: 100%;
	height: auto;
}

div.options {
	height:30px; 
	display:none;
	background-color:#999;
}


/* TOPNAV */

a.brand {
	margin-left: 1px ! important;
}

div.container {
	float:left;
	width: 100% ! important;
}

span.star.badge {
	background-color: #d9534f;
}

/* SIDEBAR */

div#buttons-top {
	position: fixed ! important; 
	top:70px; 
	padding-right:0px; 
	width: 15%;
}

div#buttons-bottom {
	position: fixed ! important; 
	bottom:20px; 
	padding-right:0px; 
	width: 15%;
}

::-webkit-scrollbar
{
	width: 6px;	/* for vertical scrollbars */
	height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
	background: rgba(0, 0, 0, 0.5);
}

div.panel ul {
	margin-bottom: 0px;
}

.panel {
	border: 0px solid transparent;
	margin-bottom: 0px ! important; 
}

ul.main, ul.connected {
	padding: 0px;
}

li.main, li.item	{
	height: 30px;
	padding: 5px;
	border-radius: 0px;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;	
}

ul.connected {
	border-radius: 0px;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

li.item {
	background-color: #f9f9f9;
	border-bottom: 1px solid #ddd;
	margin-top: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	white-space: nowrap;
}

li.main span.title {
	margin-left: 6px;
}

ul#all {
	margin-bottom: -1px;
}

li.item span.badge {
	margin-right: 1px;
}

li.main {
	border-top: 1px solid #ddd;
}

ul li.wrapper:after {
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: '';
	color: #3399FF;
	font-size: 0.8em;
	position: absolute;
	left: 10px;
	top: 1px;
	margin-top: -.5em;
	z-index: 4;
}

ul li.wrapper {
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border: 0px;
}

li.main.collapsed {
	background-color: #3399FF;
	color:white;
}

li.list-group-item-warning {
	background-color: #fcf8e3 !important;
}

img.favicon {
	margin-right: 5px;
	width: 16px;
	height: 16px;
}

/* FEED MANAGE SCREEN */

div.feed-overview {
	border: 1px solid #ddd;
	width: 100%;
	margin-bottom: 10px;
}

div.feed-manage {
	margin-left: 20px;
	height: 14px;
	display:table-cell;
}

div.form-name, div.form-category {
	margin-left: 5px;
}

div.feed-manage-overview {
	padding: 20px;
}

div.feed-manage {
	height: 20px;
}

div.feed-manage div.content {
	margin-bottom: 10px;
}

div.form-group {
	margin-bottom: 10px;
}

p.heading {
	cursor: pointer;
	padding-top: 8px;
	margin-left: 5px;
}

input.btn.button-submit {
	margin-left: 5px;
}

/* OPML FORM */

div.opml-form {
	padding: 20px;
}

div.opml-form form input {
	font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

span.badge.pull-right {
	margin-left: 3px;
	margin-top: 1px;
}

a#star.navbar-brand,a#unread.navbar-brand {
	font-size: 15px; 
	margin-left: 1px;
}

#query, #search-field {
    color: #3399FF;
    height: 40px;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 4px 36px 3px 36px;
    font-size: 14px;
    background: url(../img/search.svg) 14px 13px no-repeat;
    background-size: 14px 14px, 16px 16px;
    border-radius: 13px;
    border: none;
    line-height: 1;
    color: #212325;
}

td a.view-button, div.feeds-inner .view-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    line-height: 41px;
    height: 100%;
    text-decoration: none;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-left: 1px solid transparent;
    border-color: #dcdee0;
    color: #b4b6b8;
}

#section {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    background-color: #FFFFFF;
}

.container {
    display: flex;
    height: 100%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-right: 0px;
    padding-left: 0px;
}

.column-left {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border-right: 1px solid transparent;
    border-color: #dcdee0;
    width: 245px;
    background-color: #eff1f3;
    height: 100%;
    position: relative;
}

.subscribe-toolbar {
    height: 41px;
    border-bottom: 1px solid transparent;
    border-color: #dcdee0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.search-form-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    border-bottom: 1px solid transparent;
    height: 41px;
	border-color: #dcdee0;
}

.feeds-inner {
    position: absolute;
    top: 41px;
    bottom: 52px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #eff1f3;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
}

.view-toolbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 41px;
    border-bottom: 1px solid transparent;
    border-color: #dcdee0;
    position: absolute;
    left: 0;
    right: 0;
}

.selected {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    line-height: 41px;
    height: 100%;
    text-decoration: none;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-left: 1px solid transparent;
    border-color: #dcdee0;
    color: #b4b6b8;
}

.feeds-droppable {
    background-color: #eff1f3;
    position: absolute;
    top: 41px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.feeds-toolbar {
    border-top: 1px solid transparent;
    border-color: #dcdee0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 10px;
    background-color: #eff1f3;
}

.feeds-toolbar > table {
    width: 100%;
}

.feeds-toolbar > table > tbody > tr > td {
    width: 33%;
    text-align: center;
    vertical-align: middle;
}

.column-center {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border-right: 1px solid transparent;
    border-color: #dcdee0;
    height: 100%;
    position: relative;
}

.navbar-brand {
    color: #9d9d9d;
}

.column-right {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
    position: relative;
}

.entry-toolbar {
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 41px;
    border-bottom: 1px solid transparent;
    border-color: #dcdee0;
}

.entry-content {
    background-color: #FFFFFF;
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 41px;
    left: 0;
    right: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: top .2s ease;
    transition: top .2s ease;
    -webkit-overflow-scrolling: touch;
    z-index: 2;
}

.entry-inner {
    padding: 40px 20px 40px 20px;
    margin: 0 auto;
    max-width: 660px;
    min-height: 100%;
}

.entry-image {
    margin-top: 8px;
    display: block;
    border-radius: 3px;
}

.entry-image img {
    border-radius: 3px;
    display: block;
    max-width: 100%;
    height: auto;
}

.entry-button-wrap {
    float: right;
}

.entry-button {
    display: block;
    background-color: #ddd;
    z-index: 2;
    -webkit-appearance: none;
    border: none;
    background: none;
    width: 44px;
    height: 40px;
    padding: 0;
    position: relative;
}

.hamburger-menu-wrap {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0;
    right: 0;
    height: 41px;
    width: 41px;
    cursor: pointer;
}

.hamburger-menu {
    position: absolute;
    cursor: pointer;
    top: 13px;
    right: 11px;
    height: 15px;
    width: 20px;
    border-top: 3px solid rgba(0,0,0,0.3);
    border-color: #b4b6b8;
    z-index: 2;
}

.hamburger-menu:before {
    height: 3px;
    background-color: #b4b6b8;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
}

.hamburger-menu:after {
    height: 3px;
    background-color: #b4b6b8;
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    display: block;
    width: 100%;
}

.site-info {
    position: absolute;
    top: 10px;
    left: 13px;
    display: block;
}

.site-info .favicon-wrap {
    top: 0;
    left: 0;
    box-shadow: none;
    background-color: transparent;
}

.site-info .entry-feed-title {
    position: absolute;
    top: 2px;
    left: 26px;
    display: block;
    font-size: 14px;
    color: #212325;
    text-decoration: none;
    white-space: nowrap;
}

div.feedname span.favicon {
	display: none;
}

div.column-right h4.heading a {
	color: #333333;
}

div.column-right div.feed_name {
	color: #696969;
}

.button-toggle-read .circle {
    border: 2px solid transparent;
    border-color: #b4b6b8;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    position: absolute;
    top: 12px;
    left: 15px;
}

.button-toggle-read span.circle.unread {
    background-color: #b4b6b8;
}

.entry-buttons {
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    width: 270px;
    height: 40px;
    z-index: 1;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 10%);
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 10%);
}