
/* GENERAL */

html {
  overflow-y: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  line-height: 1.25em ! important;
}

/* ARTICLES OVERVIEW SCREEN */

section.detailed .less-content, section.detailed div.minimal {
  display:none;
}

section.list .page-content, section.list div.minimal {
  display:none;
}

section.minimal .less-content, section.minimal .page-content, section.minimal div.content div.article hr, section.minimal h4.heading, section.minimal div.feedname  {
  display:none;
}

section.minimal div.content div.feedname {
  margin-bottom: 18px;
  font-size: 13px ! important;
}

section.minimal div#block {
  border: none;
  box-shadow: none;
  margin-top: 15px ! important;
}

section.minimal span.heading a {
  color: #777;
}

section.minimal span.publishdate {
  color: #777;
  float: right;
}

section.minimal div.info-bar {
  margin-top: 15px ! important;
}

section.minimal div.page-content {
  margin-top: 10px;
}

section.minimal div.article {
  padding-bottom: 8px;
}

div#block {
  border: 1px solid #ddd;
  box-shadow: 0 0 4px #e3e5eb;
  margin-bottom: 10px;
}

div#block.active {
  background-color: #FCF8E3;
}

span.readbar {
  margin-right: 5px;
}

.article {
  padding-left: 5px;
  padding-right: 5px;
  border-color:#B4B7BD;
  border-width:1px;
  border-bottom: 1px solid #B4B7BD;
}

.article h4 {
  cursor: pointer;
}

.article h4 a {
  color: #333333;  
  font-weight:600;
}

div.article hr {
  margin-top: 3px;
  margin-left: 5px;
  width: 98%;
}

div.feedname {
  margin-top: -11px ! important;
  font-size:11px;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: bold;
}

div.page-content, div.less-content {
  margin-top: -15px;
  padding-left: 5px;
  color: #333344;
  margin-bottom: 10px;
  margin-right: 20px;
}

div.article-block hr {
  margin-top: 3px;
  margin-left: 5px;
  width: 180px;
}

div.item-star.star, div.item-star.unstar {
  height: 29px;
  background-repeat: no-repeat;
  float: left;
  width: 32px;
  margin-top: -10px;
  background-position: 6px 4px;
  margin-left: -6px;
}

div.item-star.unstar {
  background-image: url('../img/star_unselected.png');
}

div.item-star.star {
  background-image: url('../img/star_selected.png');
}

div.all-read {
  margin-top: 50px;
}

div.mark-item-read, div.mark-item-unread {
  float: left;
  margin-left: 10px;
  margin-top: 4px;
}

div#info-bar {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

div.page-content img {
  max-width: 100%;
  height: auto;
}

div.options {

	height:30px; 
	display:none;
	background-color:#999;
}

/* TOPNAV */

a.brand {
  margin-left: 1px ! important;
}

div.container {
  float:left;
  width: 100% ! important;
}

/* SIDEBAR */

div#buttons-top {
	position: fixed ! important; 
	top:70px; 
	padding-right:0px; 
	width: 15%;
}

div#buttons-bottom {
	position: fixed ! important; 
	bottom:20px; 
	padding-right:0px; 
	width: 15%;
}

div.panel {
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	top: 110px;
    bottom: 50px;
	width: 15%;
	background-color: #f9f9f9;
}

::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

div.panel ul {
	margin-bottom: 0px;
}

ul.main, ul.connected {
	padding: 0px;
}

li.main, li.item  {
	height: 30px;
    padding: 5px;
	border-radius: 0px;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;	
}

ul.connected {
	border-radius: 0px;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

li.item {
	background-color: #f9f9f9;
	border-bottom: 1px solid #ddd;
	margin-top: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	white-space: nowrap;
}

li.main span.title {
	margin-left: 6px;
}

ul#all {
	margin-bottom: -1px;
}

li.item span.badge {
	margin-right: 1px;
}

li.main {
	border-top: 1px solid #ddd;
}

ul li.wrapper:after {
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: '';
	color: #3399FF;
    font-size: 0.8em;
    position: absolute;
    left: 10px;
    top: 1px;
    margin-top: -.5em;
	z-index: 4;
}

ul li.wrapper {
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	border: 0px;
}

li.main.collapsed {
	background-color: #337ab7;
	color:white;
}

li.list-group-item-warning {
	background-color: #fcf8e3 !important;
}

img.favicon {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

/* FEED MANAGE SCREEN */

div.feed-overview {
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 10px;
}

div.feed-manage {
  margin-left: 20px;
  height: 14px;
  display:table-cell;
}

div.form-name, div.form-category {
  margin-left: 5px;
}

div.feed-manage-overview {
  padding: 20px;
}

div.feed-manage {
  height: 20px;
}

div.feed-manage div.content {
  margin-bottom: 10px;
}

div.form-group {
  margin-bottom: 10px;
}

p.heading {
  cursor: pointer;
  padding-top: 8px;
  margin-left: 5px;
}

input.btn.button-submit {
  margin-left: 5px;
}

/* OPML FORM */

div.opml-form {
  padding: 20px;
}

div.opml-form form input {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

span.badge.pull-right {
  margin-left: 3px;
  margin-top: 1px;
}

a#star.navbar-brand,a#unread.navbar-brand {
  font-size: 15px; 
  margin-left: 1px;
}
