container_commands:
  01migrate:
    command: "docker exec `docker ps -a --no-trunc -q | head -n 1` -e NODE_ENV=production /app/server/node_modules/.bin/sequelize db:migrate  &>> /tmp/deploy.log"
    leader_only: true
  02seed:
    command: "docker exec `docker ps -a --no-trunc -q | head -n 1` -e NODE_ENV=production /app/server/node_modules/.bin/sequelize db:seed:all  &>> /tmp/deploy.log"
    leader_only: true