div#top {
  z-index: 3;
  position: relative;
  border-top: 1px solid #a0b6e6;
  padding: 4px;
  background: -webkit-gradient(linear,left top,left bottom,from(#d9e2fa),to(#b5c8f9));
  background: -webkit-linear-gradient(top,#d9e2fa,#b5c8f9);
  background: -moz-linear-gradient(top,#d9e2fa,#b5c8f9);
  background: -ms-linear-gradient(top,#d9e2fa,#b5c8f9);
  background: -o-linear-gradient(top,#d9e2fa,#b5c8f9);
  background-color: #dbe3fa;
  border-bottom: solid 1px #9eadd2;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-color: inherit;
  width: 100%;
}

.layer1 {
  margin: 0;
  padding: 0;
  width: 500px;
}

body {
  font-family: sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.heading {
  margin: 1px;
  padding: 9px 10px 0px 0px;
  cursor: pointer;
  position: relative;
  width: 98%;
  margin-left: 33px;
}

.heading.collapsed, .heading.uncollapsed {
  min-height: 37px;
}

.subject {
  height: 20px;
  /* float:left; */
  margin-right:6px;
  font-weight:bold;
  color: #000;
  font-size: 15px;
  text-decoration: none;
  padding-left: 0px;
}

.subject img {
  display: none;
}

.feedname {
  height: 20px;
  /* float:left; */
  color: #666;
  font-size: 10pt;
  /* padding-top: 0px; */
}

.header-content {
  clear: left;
  white-space:nowrap;
  padding-left: 0px;
  color: #666;
  padding-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-content img {
  display: none;
}

.newsitem {
  border-top: 1px solid #c2cff1;
}

div.content {
  padding: 0px 10px 10px;
  /* background-color:#fafafa; */
  /* margin-top: -46px; */
  /* margin-left: 1px; */
  clear: left;
  vertical-align: middle;
  overflow: auto;
  color: #000;
  font-size: 9pt;
}

p { 
  padding: 5px 0; 
}

section {
  float: left;
}

.heading-top img {
  /* float: left; */
  /* position: absolute; */
  margin-left: -4px;
  margin-top: -3px;
  vertical-align: middle;
}

span#mark-these-read {
  color: #24b;
  text-decoration: underline;
  white-space: nowrap;
  float: right;
}

div.newsitem img.item-star {
  position: absolute;
  padding-top: 8px;
  margin-left: 8px;
}

div.mark-as-read {
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
}

div.heading-top a {
  color: #24b;
  text-decoration: none;
}

div.content div img {
  margin-bottom:5px;
}
