@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

/* GENERAL */

html {
  overflow-y: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width: 100%;
  margin:0 auto; 
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  /* max-width:100%; */
}

strong {
  color:#222;
  font-weight:700;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

/* ARTICLES OVERVIEW SCREEN */

section {
  float: right;
  width: 75%;
  margin-right: 20px;
  margin-top: 40px;
}

div#content {
  margin-top: 30px;
}

div.blockcontainer {
  margin-left: 20px;
  margin-right: 20px;
}

div#block {
  border: 1px solid #ddd;
  box-shadow: 0 0 4px #e3e5eb;
  margin-top: 20px;
}

div.block {
  border: 1px solid #ddd;
  box-shadow: 0 0 4px #e3e5eb;
  margin-top: 20px;
}

.article {
  padding-left: 5px;
  padding-right: 5px;
  border-color:#B4B7BD;
  border-width:1px;
  border-bottom: 1px solid #B4B7BD;
}

.article h3 {
  font-size:20px;
  padding-left: 26px;
  cursor: pointer;
}

.article h3 a {
  color: #333333;  
  font-weight:600;
}

div.article hr {
  margin-top: 3px;
  margin-left: 5px;
  width: 640px;
}

div.feedname {
  margin-top: -19px;
  font-size:11px;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: bold;
}

div.page-content {
  margin-top: -15px;
  padding-left: 5px;
  color: #333344;
  margin-bottom: 10px;
  margin-right: 20px;
}

div.article-block hr {
  margin-top: 3px;
  margin-left: 5px;
  width: 180px;
}

section h1 {
  margin-left: 9px;
}

.article img.item-star {
  position: absolute;
  padding-top: 7px;
  margin-left: 2px;
  cursor: pointer;
}

/* TOPNAV */

top-nav {
  position:fixed;
  width:100%;
  height:40px;
  z-index: 999;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  //-webkit-box-shadow: 0 8px 6px -6px black;
  //-moz-box-shadow: 0 8px 6px -6px black;
  //box-shadow: 0 8px 6px -6px black;
  -webkit-box-shadow: 0px 2px 8px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 8px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 8px rgba(50, 50, 50, 0.75);
}

div.topnav {
  float:left;
  cursor:pointer;
}

div.topnav.home {
  margin-left: 15px;
}

div.topnav.home p a {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #999999;
  text-shadow: 0 1px 0 #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  outline: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

div.topnav.home p a:hover {
 color: #ffffff;
}

div.topnav.list, div.topnav.detailed, div.topnav.opml {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 14px;
  font-weight: 200;
  color: #999999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  outline: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

div.topnav.list:hover, div.topnav.detailed:hover, div.topnav.opml:hover {
  color: #ffffff;
}

div.topnav.update {
  float: right;
}

div.topnav.update p a {
  display: block;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 14px;
  font-weight: 200;
  color: #999999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  outline: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

div.topnav.update p a:hover {
  color: #ffffff;
}

div.second-bar {
  background-color: #FFF;
  height: 40px; 
  width: 100%;
  margin-left: 290px;
}

top-nav form input {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 5px;
  width: 200px;
}

top-nav form {
  float:left;
  color:#FFF;
  padding-top: 5px;
}

top-nav form input.button {
  margin-bottom: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 28px;
  width: 80px;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* FEEDBAR */

div.organize {
  padding-left: 25px;
  margin-bottom: 15px;
}

div.nav-main {
  height: auto;
  display: table;
  width:90%;
  margin-top: 3px;
  background: #f5f5f5;
  margin-left: 25px;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

span.count {
  float: right;
}

div.menu-heading, div.menu-sub {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float:left;
  width:100%;
}

div.menu-heading:hover, div.menu-sub-item:hover {
  background-color: rgba( 0,0,0,0.04 );
}

div.menu-heading {
  margin-top: 3px;
}


div.menu-sub {
  margin-top: 5px;
  margin-bottom: 3px;
}

div.sub-item {
 margin-left: 7px;
}

div.pointer {
  height: 24px;
  background-image:url(../images/fd/selector-right-arrow.png);
  background-repeat:no-repeat;
  background-position: -6px -2px;
  background-size: 26px 26px;
  width: 20px;
  float: left;
  cursor:pointer;
}

div.title {
  width: 130px;
  float: left;
  padding-top: 2px;
  cursor:pointer;
}

div.count {
  padding-top: 2px;
  display: table;
  float: right;
  margin-right: 3px;
}

img.favicon {
  margin-left: 5px;
  width: 16px;
  height: 16px;
}

span.title {
  margin-left: 3px;
}

feedbar {
  background: #FFF;
  overflow-y: hidden;
  float:left;
  width: 22%;
  padding-top: 90px;
  height: 100%;
  position: fixed;
  overflow: auto;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba( 0, 0, 0, 0.5 );
}

div.mCSB_container {
  margin-right: 0px;
}


/* FEED MANAGE SCREEN */

div.feed-overview {
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 10px;
  //height: 40px;
}

div.feed-manage {
  margin-left: 20px;
  height: 14px;
  display:table-cell;
}

div.form-name, div.form-category {
  margin-left: 5px;
}

div.feed-manage-overview {
  padding: 50px;
}

div.feed-manage {
  height: 20px;
}

div.feed-manage div.content {
  margin-bottom: 20px;
}

p.heading {
  height: 10px;
  cursor: pointer;
  padding-top: 8px;
  margin-left: 5px;
}

div.form-name input, div.form-category input {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.btn.button-submit {
  margin-left: 5px;
}

/* OPML FORM */

div.opml-form {
  padding: 60px;
}

div.opml-form form input {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* SHADOW */

#nav-bar-shadow {
  margin-top: 40px;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.2)),to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0));
  background: -moz-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0));
  background: -ms-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0));
  background: -o-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0));
}

/* LIST VIEW */

span#mark-these-read {
  color: #24b;
  text-decoration: underline;
  white-space: nowrap;
  float: right;
}

div.newsitem {
  display: table;
}

div.newsitem img.item-star {
  position: absolute;
  padding-top: 8px;
  margin-left: 8px;
  cursor: pointer;
}

div#layer1 {
  margin-top: 30px;
}

div#layer1 .heading {
  margin: 1px;
  padding: 9px 10px 0px 0px;
  cursor: pointer;
  position: relative;
  margin-left: 33px;
}

div#layer1 .heading.collapsed, div#layer1 .heading.uncollapsed {
  min-height: 37px;
}

div#layer1 .heading-bottom {
  width: 97%;
}

div#layer1 div.news-content {
  padding: 0px 10px 10px;
  clear: left;
  vertical-align: middle;
  overflow: auto;
  color: #000;
}

div#layer1 p { 
  padding: 5px 0; 
}

div#layer1 .subject {
  font-weight:bold;
}
