@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

/* GENERAL */

html {
  overflow-y: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width: 100%;
  margin:0 auto; 
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  /* max-width:100%; */
}

strong {
  color:#222;
  font-weight:700;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

/* ARTICLES OVERVIEW SCREEN */

section {
  padding-top: 44px;
  margin-right: 50px;
  float: left;
  padding-left: 300px;
  padding-bottom:50px;
  overflow:auto;
  postion:fixed;
}

div#content {
  margin-top: 50px;
}

div.blockcontainer {
  margin-left: 20px;
  margin-right: 20px;
}

div#block {
  border: 1px solid #ddd;
  box-shadow: 0 0 4px #e3e5eb;
  margin-top: 20px;
}

div.block {
  border: 1px solid #ddd;
  box-shadow: 0 0 4px #e3e5eb;
  margin-top: 20px;
}

.article {
  padding-left: 5px;
  padding-right: 5px;
  border-color:#B4B7BD;
  border-width:1px;
  border-right: 1px solid #B4B7BD;
  border-bottom: 1px solid #B4B7BD;
}

.article h3 {
  font-size:20px;
  padding-top: 5px;
  padding-left: 26px;
  cursor: pointer;
}

.article h3 a {
  color: #777;  
  font-weight:600;
}

div.article hr {
  margin-top: 3px;
  margin-left: 5px;
  width: 640px;
}

div.feedname {
  margin-top: -19px;
  font-size:11px;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: bold;
}

div.page-content {
  margin-top: -15px;
  padding-left: 5px;
  color: #333344;
  margin-bottom: 10px;
  margin-right: 20px;
}

div.article-block hr {
  margin-top: 3px;
  margin-left: 5px;
  width: 180px;
}

section h1 {
  margin-left: 9px;
}

.article img.item-star {
  position: absolute;
  padding-top: 3px;
  margin-left: 2px;
  cursor: pointer;
}

/* TOPNAV */

top-nav {
  position:fixed;
  width:100%;
  height:40px;
  background: #E8E8E8;
  z-index: 999;
}

div.second-bar {
  background-color: #FFF;
  height: 40px; 
  width: 100%;
  margin-left: 290px;
  //border: 1px solid black;
}

div.list, div.detailed {
  float:right;
  cursor:pointer;
}

div.topnav-button p {
  padding-top: 9px;
  font-family: Helvetica, sans-serif;
}

div.topnav-button p, div.topnav-button a {
  padding-right: 18px;
  color:#777;
  cursor: pointer;
}

div.first-topnav-button {
  border-left: 1px solid #fff;
  padding-left: 14px;
}

div.topnav-button {
  height:40px;
  border-right: 1px solid #fff;
  margin-right: 26px;
  float:right;
}

div.topnav-button.list-change-view, div.topnav-button.detailed-change-view {
  background-color: whiteSmoke;
  background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
  background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
  background-image: -ms-linear-gradient(top,whiteSmoke,#F1F1F1);
  background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
  background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
  color: #444;
  border: 1px solid gainsboro;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 22px;
  margin-top: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 28px;
}

div.topnav-button.list-change-view.active, div.topnav-button.detailed-change-view.active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  background-color: #EEE;
  background-image: -webkit-linear-gradient(top,#EEE,#E0E0E0);
  background-image: -moz-linear-gradient(top,#EEE,#E0E0E0);
  background-image: -ms-linear-gradient(top,#EEE,#E0E0E0);
  background-image: -o-linear-gradient(top,#EEE,#E0E0E0);
  background-image: linear-gradient(top,#EEE,#E0E0E0);
  border: 1px solid #CCC;
  color: #333;
}

div.topnav-button.list-change-view {
  margin-right: 1px;
}

img.jfk-button-img {
  padding-left: 3px;
}

top-nav form input {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 5px;
  width: 200px;
}

top-nav form {
  color:#FFF;
  padding-left: 20px;
  padding-top: 5px;
}

top-nav form input.button {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 28px;
  width: 80px;
}

home-topnav-button {
  float:left;
}


/* FEEDBAR */

feedbar {
  background: #E8E8E8;
  overflow-y: hidden;
}

div.nav-main {
  width:260px;
  margin-top: 3px;
}

span.count {
  float: right;
}

ul.feedbar {
  list-style-type: none;
}

div.pointer {
  height: 24px;
  background-image:url(../images/fd/selector-right-arrow.png);
  background-repeat:no-repeat;
  background-position: -6px -2px;
  background-size: 26px 26px;
  width: 20px;
  float: left;
  cursor:pointer;
}

div.title {
  width: 130px;
  float: left;
  padding-top: 0px;
  cursor:pointer;
}

div.count {
  padding-top: 0px;
}

li.main {
  height: 24px;
  padding-top: 3px;
}

li.sub {
  list-style-type: none;
  background-image: none;
}

img.favicon {
  width: 16px;
  height: 16px;
}

ul.feedbar ul {
  padding-top: 4px;
}

feedbar {
  padding-top: 90px;
  height:100%;
  width:290px;
  float:left;
  position:fixed;
  overflow:auto;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba( 0, 0, 0, 0.5 );
}

div.mCSB_container {
  margin-right: 0px;
}

ul.feedbar ul {
  list-style-type: none;
}

/* FEED MANAGE SCREEN */

div.feed-overview {
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 10px;
  //height: 40px;
}

div.feed-manage {
  margin-left: 20px;
  height: 14px;
  display:table-cell;
}

div.form-name, div.form-category {
  margin-left: 5px;
}

div.feed-manage-overview {
  padding: 50px;
}

div.feed-manage {
  height: 20px;
}

div.feed-manage div.content {
  margin-bottom: 20px;
}

p.heading {
  height: 10px;
  cursor: pointer;
  padding-top: 8px;
  margin-left: 5px;
}

div.form-name input, div.form-category input {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.botton-submit {
  padding-top: 5px;
  margin-left: 5px;
}

/* OPML FORM */

div.opml-form {
  padding: 60px;
}

div.opml-form form input {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* SHADOW */

#nav-bar-shadow {
  margin-top: 40px;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.2)),to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0));
  background: -moz-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0));
  background: -ms-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0));
  background: -o-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0));
}

/* LIST VIEW */

span#mark-these-read {
  color: #24b;
  text-decoration: underline;
  white-space: nowrap;
  float: right;
}

div.newsitem img.item-star {
  position: absolute;
  padding-top: 8px;
  margin-left: 8px;
  cursor: pointer;
}

div#layer1 {
  margin-top: 50px;
}

div#layer1 .heading {
  margin: 1px;
  padding: 9px 10px 0px 0px;
  cursor: pointer;
  position: relative;
  margin-left: 33px;
}

div#layer1 .heading.collapsed, div#layer1 .heading.uncollapsed {
  min-height: 37px;
}

div#layer1 .heading-bottom {
  width: 97%;
}

div#layer1 div.content {
  padding: 0px 10px 10px;
  clear: left;
  vertical-align: middle;
  overflow: auto;
  color: #000;
}

div#layer1 p { 
  padding: 5px 0; 
}

div#layer1 .subject {
  font-weight:bold;
}
