@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

/* GENERAL */

html {
  overflow-y: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

/* ARTICLES OVERVIEW SCREEN */

section {
  float: left;
  //margin-top: 40px;
}

div#content {
  //margin-top: 30px;
}

div.blockcontainer {
  margin-left: 20px;
  margin-right: 20px;
}

div#block {
  border: 1px solid #ddd;
  box-shadow: 0 0 4px #e3e5eb;
  margin-top: 20px;
}

div.block {
  border: 1px solid #ddd;
  box-shadow: 0 0 4px #e3e5eb;
  margin-top: 20px;
}

.article {
  padding-left: 5px;
  padding-right: 5px;
  border-color:#B4B7BD;
  border-width:1px;
  border-bottom: 1px solid #B4B7BD;
}

.article h3 {
  font-size:20px;
  padding-left: 26px;
  cursor: pointer;
}

.article h3 a {
  color: #333333;  
  font-weight:600;
}

div.article hr {
  margin-top: 3px;
  margin-left: 5px;
  width: 98%;
}

div.feedname {
  margin-top: -19px;
  font-size:11px;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: bold;
}

div.page-content {
  margin-top: -15px;
  padding-left: 5px;
  color: #333344;
  margin-bottom: 10px;
  margin-right: 20px;
}

div.article-block hr {
  margin-top: 3px;
  margin-left: 5px;
  width: 180px;
}

section h1 {
  margin-left: 9px;
}

.article img.item-star {
  position: absolute;
  padding-top: 7px;
  margin-left: 2px;
  cursor: pointer;
}

div.all-read {
  margin-top: 50px;
}

/* TOPNAV */

a.brand {
  margin-left: 1px ! important;
}

div.container {
  float:left;
  width: 100% ! important;
}

/* FEEDBAR */

div.organize button.btn.btn-small.btn-primary {
  margin-left: 8px ! important;
}

div.menu-heading-status.status-clicked, div.menu-heading-status.status-clicked:hover {
  background-color: rgb(220, 234, 244);
}

div#last-hour.menu-heading-status {
  margin-bottom: 5px;
}

div.organize {
  margin-bottom: 15px;
}

div.nav-main {
  height: auto;
  display: table;
  margin-top: 3px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

span.count {
  float: right;
}

div.menu-heading, div.menu-sub, div.menu-heading-status {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float:left;
  width:100%;
}

div.menu-heading:hover, div.menu-sub-item:hover, div.menu-heading-status:hover {
  background-color: rgba( 0,0,0,0.04 );
}

div.menu-sub {
  margin-top: 5px;
  margin-bottom: 3px;
}

div.sub-item {
 margin-left: 7px;
}

div.pointer, div.pointer-category {
  height: 24px;
  width: 20px;
  float: left;
  cursor:pointer;
}

div.pointer i.icon-search, div.pointer i.icon-pencil, div.pointer i.icon-star-empty, div.pointer i.icon-tint, div.pointer i.icon-leaf {
  margin-left: 1px;
  margin-top: 3px;
}

div.pointer-category i.icon-chevron-right {
  margin-left: 1px;
  margin-top: 2px;
}

div.pointer-category i.icon-chevron-down {
  margin-left: 3px;
  margin-top: 2px;
}

div.title {
  width: 130px;
  float: left;
  padding-top: 2px;
  cursor:pointer;
}

div.count {
  padding-top: 2px;
  display: table;
  float: right;
  margin-right: 3px;
}

img.favicon {
  margin-left: 5px;
  width: 16px;
  height: 16px;
}

span.title {
  margin-left: 3px;
}

span.count-sub {
  float:right;
  margin-right: 3px;
}

feedbar {
  overflow-y: hidden;
  //padding-top: 90px;
  overflow: auto;
  position: fixed;
  width: 23.076923076923077%;
}

div.mCSB_container {
  margin-right: 0px;
}


/* FEED MANAGE SCREEN */

div.feed-overview {
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 10px;
  //height: 40px;
}

div.feed-manage {
  margin-left: 20px;
  height: 14px;
  display:table-cell;
}

div.form-name, div.form-category {
  margin-left: 5px;
}

div.feed-manage-overview {
  padding: 50px;
}

div.feed-manage {
  height: 20px;
}

div.feed-manage div.content {
  margin-bottom: 20px;
}

p.heading {
  cursor: pointer;
  padding-top: 8px;
  margin-left: 5px;
}

div.form-name input, div.form-category input {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.btn.button-submit {
  margin-left: 5px;
}

/* OPML FORM */

div.opml-form {
  padding: 60px;
}

div.opml-form form input {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* LIST VIEW */

span#mark-these-read {
  color: #24b;
  text-decoration: underline;
  white-space: nowrap;
  float: right;
}

div.newsitem {
  display: table;
}

div.newsitem img.item-star {
  position: absolute;
  padding-top: 8px;
  margin-left: 8px;
  cursor: pointer;
}

div#layer1 {
  margin-top: 30px;
}

div#layer1 .heading {
  margin: 1px;
  padding: 9px 10px 0px 0px;
  cursor: pointer;
  position: relative;
  margin-left: 33px;
}

div#layer1 .heading.collapsed, div#layer1 .heading.uncollapsed {
  min-height: 37px;
}

div#layer1 .heading-bottom {
  width: 97%;
}

div#layer1 div.news-content {
  padding: 0px 10px 10px;
  clear: left;
  vertical-align: middle;
  overflow: auto;
  color: #000;
}

div#layer1 p { 
  padding: 5px 0; 
}

div#layer1 .subject {
  font-weight:bold;
}

/* UPDATE SCREEN */

div.update-content {
  margin-top: 50px;
}

table#update {
  //width: 80%;
  margin-left: 7%;
}
